.xmlinclude {
	.ds-simple-list {
		@extend .list-group;
		li {
			@extend .list-group-item;
		}
	}
	.ds-interactive-div {
		display: none;
	}
	.ds-artifact-list {
		list-style-type: none;
		padding-left: 0;
		.ds-artifact-item {
			@extend .panel;
			@extend .panel-default;
			.item-wrapper {
				@extend .panel-body;
			}
			.thumbnail-wrapper {
				@extend .pull-right;
			}
		}
	}
	h1 {
		font-size: $font-size-h3;
	}
	#aspect_artifactbrowser_CollectionViewer_div_collection-home {
		display: none;
	}
	ul {
		&.pagination-links {
			@extend .pager;
			margin: 0;
			li {
				& > a {
					border-radius: $border-radius-small;
					@extend .pull-left;
				}
			}
		}
	}

	#aspect_artifactbrowser_ItemViewer_div_item-view {
		@extend .panel;
		@extend .panel-default;
		h1, h2, h3 {
			@extend .panel-heading;
		}
		.item-summary-view-metadata {
			div {
				@extend .panel-body;
			}
		}
		.file-list, .ds-referenceSet-list {
			@extend .panel-body;
		}
		.file-list {
			.simple-item-view-abstract {
				@extend p;
			}
		}
		.ds-referenceSet-list {
			li {
				margin: 0 0 0 22px;
			}
		}
	}
}