{namespace s=Subugoe\Find\ViewHelpers}
<h1>{document.article-id} {document.article-title}</h1>
<section class="general">
	<span class="author">
		{document.author}, S. {document.page-from} - {document.page-to}
	</span>
	{document.content -> f:format.raw()}
</section>
<section class="literature">
	<f:if condition="{document.literature}">
		<h1><f:link.page additionalAttributes="{data-toggle: 'collapse'}" section="literature-{document.id}">Literatur</f:link.page></h1>
		<f:for each="{document.literature}" as="literature">
			<div class="collapse" id="literature-{document.id}">
				<p>{literature -> f:format.raw()}</p>
			</div>
		</f:for>
	</f:if>
</section>
