<div id="slider{settings.contentUid}_container" class="jssorslider" style="position: relative; width: {settings.jssorslider.width}px; height: {settings.jssorslider.height}px; overflow: hidden;">
    <div u="loading" style="position: absolute; top: 0; left: 0;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; background-color: #000; top: 0; left: 0;width: 100%;height:100%;"></div>
        <div style="position: absolute; display: block; background: url('typo3conf/ext/t3s_jslidernews/Resources/Public/Styles/Jssorslider/img/loading.gif') no-repeat center center; top: 0; left: 0;width: 100%;height:100%;">
        </div>
    </div>
	<f:render partial="Jssorslider/Slides" arguments="{_all}" />
    <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
        <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
    </div>
    <span u="arrowleft" class="jssora05l banner-rotator-arrowleft">
    </span>
    <span u="arrowright" class="jssora05r banner-rotator-arrowright">
    </span>
    <a style="display: none" href="http://www.jssor.com">slideshow</a>
</div>
