<!-- Jssor Slider Begin -->
<div id="slider{settings.contentUid}_container" class="jssorslider" style="position: relative; top: 0; left: 0; width: {settings.jssorslider.width}px; height: {settings.jssorslider.height}px; background: #000; overflow: hidden; ">
	<!-- Loading Screen -->
	<div u="loading" style="position: absolute; top: 0; left: 0;">
	    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; background-color: #000000; top: 0; left: 0;width: 100%;height:100%;"></div>
	    <div style="position: absolute; display: block; background: url('typo3conf/ext/t3s_jslidernews/Resources/Public/Styles/Jssorslider/img/loading.gif') no-repeat center center; top: 0; left: 0;width: 100%; height:100%;"></div>
	</div>
    <!-- Slides Container -->
	<f:render partial="Jssorslider/Slides" arguments="{_all}" />
    <!-- ThumbnailNavigator Skin Begin -->
    <div u="thumbnavigator" class="jssort11" style="position: absolute; width:{settings.jssorslider.list.thumbnavigator.width}px; height:{settings.jssorslider.height}px; left:{settings.jssorslider.list.left}px; top:0;">
        <!-- Thumbnail Item Skin Begin -->
        <div u="slides">
            <div u="prototype" class="p" style="position: absolute; width:<f:format.raw>{settings.jssorslider.list.thumbnavigator.width}</f:format.raw>px; height:<f:format.raw>{settings.jssorslider.list.thumbnavigator.itemHeight}</f:format.raw>px; top: 0; left: 0;">
                <thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate>
            </div>
        </div>
    </div>
    <!-- ThumbnailNavigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">javascript</a>
</div>
<!-- Jssor Slider End -->
